<h1>Editing Book</h1>
<%= form_with model: @book, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit 'Update book' %>
  <%= link_to 'Show', @book %> |
  <%= link_to 'Back', books_path  %>
  <% end %>