<h1>Books</h1>
<% @books.each do |books| %>
  <table>
    <thead>
      <tr>
        <th>title</th>
        <th>body</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= books.title %></td>
        <td><%= books.body %></td>
        <td><%= link_to 'Show',book_path %></td>
        <td><%= link_to 'Edit',edit_book_path %></td>
        <td><%= link_to 'Destroy',book_path, method: :destroy %></td>
      </tr>
    </tbody>
  </table>
<h2>New book</h2>
<%= form_with model: @book, url: book_path, method: :post do |f| %>
<div><%= f.text_field :title %></div>
<div><%= f.text_area :body %></div>
<div><%= f.submit '投稿' %></div>